.chatbot {
  position: fixed;
  bottom: 50px;
  right: 80px;
  background-color: #ba160a;
  border-radius: 215px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 10;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__close {
    margin: 0 20px;
    opacity: 0.8;
    cursor: pointer;
  }

  &__title {
    color: white;
    font-weight: 700;
    font-size: 12px;
  }
  
  &__mira {
    background-color: #ba160a;
    border-radius: 215px;
    overflow: hidden;
  }
}
